/* card */
:root {
    --blue: #16294D;
    --green: #00DEA3;
  }
  .chart-dash{
    margin-top: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

.chart{
  margin-top: 30px;
  background: white;
  padding: 20px 20px 10px 10px;
  border-radius: 30px;
}
  .dashcontainer{
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 20px;
  }
.cardRow{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
}
  .cardStats{
    padding: 0.4rem 1rem;
  }
.cardStats .card-body{
    text-align: center;
}
.cardStats .card-title{
    color: var(--blue);
}
.cardStats .card-text{
    color: var(--green);
    font-weight: bolder;
    font-size: xx-large;
}

h4{
  padding-left: 25px;
}

@media only screen and (max-width: 1024px) {
    .cardRow {
        grid-template-columns: auto  auto;

    }
  }
@media only screen and (max-width: 500px) {
    .cardRow {
        grid-template-columns: auto;

    }
  }